.reset-password-container {
    max-width: 600px;
    margin: 0 auto;
}

.reset-password-container h2 {
  padding-top: 1rem;
    color: #1F2A38;
}

.reset-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.reset-form input {
        padding: 10px;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #aaa;
    outline: #1F2A38;
}

.reset-btn {
       padding: 0.8rem 1.3rem;
   border-radius: 5px;
   border: none;
   background-color: #1F2A38;
   color: #f5f5f5;
   cursor: pointer;
   transition: 0.5s;
}

.reset-btn:hover {
    opacity: 0.8;
}

.showpassword-container p {
    text-align: center;
}

.token-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
    
}

.token-error img {
    width: 200px;
}